<form (ngSubmit)="signIn()">
<div>
  <input
    placeholder="логин"
    type="text"
    [formControl]="login"
  />
</div>

<div *ngIf="login.invalid && login.touched; else other_content"
    class="alert">
  <div *ngIf="login.errors?.['required']">
    логин не может быть пустым
  </div>
  <div *ngIf="login.errors?.['minlength']">
    логин должен быть не короче 3 символов
  </div>
</div>
  <ng-template #other_content>
    <label class='alert-placeholder'> </label>
    </ng-template>

<div>
  <input
    placeholder="пароль"
    type="password"
    [formControl]="password"
  />
</div>

<div *ngIf="password.invalid && password.touched; else other_content"
    class="alert">
  <div *ngIf="password.errors?.['required']">
    пароль не может быть пустым
  </div>
  <div *ngIf="password.errors?.['minlength']">
    пароль должен быть не короче 3 символов
  </div>
</div>


  <div *ngIf="loginError"
    class="alert">
  {{ loginErrorMessage }}
</div>


<button type="submit">ВОЙТИ</button>
<button type="button" (click)="signUp()">ЗАРЕГИСТРИРОВАТЬСЯ</button>
</form>